.container {
  position: relative;
  .list {
    position: absolute;
    z-index: 33;
    background-color: var(--clr-dark-200);
    top: calc(100% + 5px);
    left: -100%;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .item {
      min-width: 8vw;
      font-weight: 400;
      letter-spacing: 0.8px;
      padding: 0.8em 1.2em;
      font-size: 0.85rem;
      color: var(--clr-gray-100);
      &:hover,
      &:active,
      &:focus {
        background-color: var(--clr-dark-300);
      }
    }
  }
}
