.container {
  display: flex;
  width: fit-content;
  padding: 0.2em 0.6em;
  border-radius: 16px;
  align-items: center;
  justify-content: space-around;
  column-gap: 0.4em;
  font-size: 0.94rem;
  background-color: var(--clr-dark-500);
  .avatar {
    width: 28px;
    height: 28px;
  }

  .crossBtnContainer {
    position: relative;
    bottom: -4px;
  }
}
