.chatContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--clr-gray-100);
  background-color: var(--clr-dark-100);

  .header {
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 1em;
    .senderName {
      font-size: 1.2rem;
      padding: 1em;
      flex: 1;
      font-weight: 600;
      color: var(--clr-gray-400);
    }
    .iconGroup {
      display: flex;
      column-gap: 1.2em;
    }
  }
  .chatMainSection {
    background: url("/chatBg.png");
    background-position: center;
    background-size: 47%;
    position: relative;
    background-color: rgb(11, 20, 26);
    flex: 1;
    height: 500px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
