.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;

  & > * {
    &:hover {
      background: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      );
    }
  }
}
