.wrapper {
  display: flex;
  cursor: pointer;
  align-items: center;
  .avatarContainer {
    margin-right: 1.4em;
  }
  .userInfo {
    display: flex;
    flex-direction: column;
    padding: 0.4em;
    flex: 1;
    .displayName {
      font-size: 1.2rem;
    }
  }
}

.userStatus {
  font-size: 0.96rem;
  color: #8696a0;
}

.itemInfo {
  display: flex;
  padding: 0.4em;
  align-items: center;
  flex: 1;
  .itemTitle {
    font-size: 1.2rem;
  }
}
