.wrapper {
  display: flex;
  padding: 0 0.8em;
  flex-wrap: nowrap;
  place-items: center;
  cursor: pointer;
  .avatarContainer {
    margin-right: 1em;
  }
  .userInfo {
    display: flex;
    flex-direction: column;
    padding: 0.4em;
    flex: 1;
    .displayName {
      font-size: 1.1rem;
    }
    .userStatus {
      font-size: 0.96rem;
      color: var(--clr-gray-200);
    }
  }
}
