.page {
  height: 100vh;
  background-color: var(--clr-dark-300);
  color: var(--clr-gray-100);
  text-align: center;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .welcome {
    font-size: 3rem;
    margin-top: 0.5em;
  }

  .whatsappLogoContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3em;
    // margin: 7em 0 1.5em;
  }
  .termsAndConditions {
    width: 46ch;
    color: var(--clr-gray-200);
  }

  .pageBottom {
    margin-top: 4em;
    margin-bottom: 1em;
    .from {
      color: var(--clr-gray-300);
      font-weight: 300;
    }
    .facebook {
      color: var(--clr-gray-400);
      font-weight: 600;
      margin-top: 0.2em;
      letter-spacing: 1.8px;
      display: flex;
      align-items: center;
      column-gap: 0.4em;
    }
  }

  a {
    color: var(--clr-blue-100);
    text-decoration: none;
  }

  button {
    border: none;
    cursor: pointer;
    border-radius: 2px;
    background-color: var(--clr-green-200);
    padding: 0.8em 5em;
    font-size: 1rem;
    margin-top: 1em;
    font-weight: 600;
  }
}
