.selectedUsers {
  max-height: 20vh;
  overflow-y: scroll;
  margin: 1em;
}

.noSuggestion {
  color: var(--clr-gray-200);
  font-size: 1.2rem;
  text-align: center;
}

.sidebarListWrapper {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  flex-direction: column;
  row-gap: 0.4em;

  & > * {
    &:hover {
      background: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      );
    }
  }
}
