.chatList {
  height: 100%;
  overflow-y: scroll;
}

.chatItem {
  display: flex;
  align-items: center;
  .chatItemAvatar {
    margin-right: 1.4em;
  }
  .chatItemInfo {
    display: flex;
    padding: 0.4em;
    align-items: center;
    flex: 1;
    border-bottom: 2px solid #222d34;
    .chatSenderAndLastMessage {
      flex: 1;
    }
    .chatItemSenderName {
      font-size: 1.2rem;
    }
    .chatItemLastMessage {
      font-size: 0.96rem;
      color: #8696a0;
    }
    .lastMessageTime {
      color: #8696a0;
      font-size: 0.9rem;
    }
  }
}
